body{
    margin: 100px;
    background-color:rgb(101, 181, 218);
    color: rgb(19, 18, 18);
}
.display{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}